{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        body {
            background-color: #DADADA;
        }
        body > .grid {
            height: 100%;
        }
        .image {
            margin-top: -100px;
        }
        .column {
            max-width: 450px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <img src="https://i.pinimg.com/originals/50/5a/c9/505ac91441bf38d77ed87342fa8544af.jpg" class="image">
                <div class="content">
                    Log-in to your account
                </div>
            </h2>
            {% if error %}
                <div class="ui message negative">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form class="ui large form" action="{{ path('login') }}" method="post">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="_username" placeholder="Username" value="{{ last_username }}">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="_password" placeholder="Password">
                        </div>
                    </div>
                    <input type="submit" value="Enviar" class="ui fluid large teal submit button">
                </div>

                <div class="ui error message"></div>

            </form>

            <div class="ui message">
                New to us? <a href="#">Sign Up</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

